

body{
    background-image: linear-gradient(to bottom right, cornflowerblue, purple);
}
#app{
    
   
    border-color: darkblue;

   

    
}

.bigCounter{
    height: 300px;
    text-align: center;
    font-size: 140px;
    font-weight: 500;
    text-shadow: 2px 6px 4px #000000;
    
}


.bigCounter div{
    justify-content: space-between;
    display: inline-flex;
    padding: 30px;
}
.extraFunctions{
    text-align: center;
    height: 100vh;
    
}